In [2]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [4]:
#How many students are there?
counter = 0 
for student in students:
    counter += 1
print("Number of students:", counter)

Number of students: 14

In [5]:
#How many students are there?
len(students)

14

In [6]:
#How mamy types of coffee are there? 

for i in range(0, 14):
    listofblends = students[i]["coffee_preference"]
    print(listofblends)
  ###I want to be able to print the set of this list but keep coming up with an error

light
medium
light
dark
dark
dark
dark
medium
medium
medium
dark
medium
light
medium

In [7]:
#How many students prefer light coffee? For each type of coffee roast?
counter = 0 
for i in range(0, 14): 
    a = students[i]["coffee_preference"]
    if a == 'light':
        counter += 1
print(counter)

3

In [8]:
#How many students prefer dark coffee?
counter = 0 
for i in range(0, 14): 
    a = students[i]["coffee_preference"]
    if a == 'dark':
        counter += 1
print(counter)

5

In [9]:
#How many students prefer medium coffee? 
counter = 0 
for i in range(0, 14): 
    a = students[i]["coffee_preference"]
    if a == 'medium':
        counter += 1
print(counter)

6

In [70]:
#How many types of each pet are there?
pets = []
for i in range(0, 14):
    listofpets = students[i]["pets"]
    if len(listofpets) > 0:
     for pet in listofpets:
        pets.append(pet['species'])
        
print(pets)

##11cats, 3 dogs, 4 horses

['horse', 'cat', 'dog', 'cat', 'horse', 'horse', 'dog', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'cat', 'horse', 'dog']

In [11]:
#How many grades does each student have? Do they all have the same number of grades?
print("List of classes per student")
for i in range(0, 14):
    lst_grades = students[i]["grades"]
    print(len(lst_grades))
print("Each student has 4 classes")
print(len(set(lst_grades)))

List of classes per student
4
4
4
4
4
4
4
4
4
4
4
4
4
4
Each student has 4 classes
4

In [12]:
#Each student's grade average 

for i in range(0, 14): 
    a = students[i]["grades"]
    avg = sum(a)/len(a)
    print(avg)

78.5
83.5
73.25
78.5
81.5
80.75
84.5
88.75
88.75
82.5
81.5
91.0
79.0
89.0

In [13]:
#How many pets does each student have?
num_of_pets = []
for i in range(0, 14): 
    a = len(students[i]["pets"])
    num_of_pets.append(a)
    print(a)

1
0
1
2
3
0
1
2
2
1
2
1
1
1

In [14]:
#How many students are in web development? 
number_stud_in_webdev = 0 
for i in range(0, 14):
    a = students[i]["course"]
    if a == "web development":
     number_stud_in_webdev += 1 
print(number_stud_in_webdev)

7

In [15]:
#How many students are in data science?
counter = 0 
for i in range(0, 14):
    a=students[i]["course"]
    if a == "data science":
     counter += 1 
print(counter)

7

In [16]:
##SUB FOR LOOP 
lst_courses = []
for i in range(0, 14):
    a = students[i]["course"]
    lst_courses.append(a)
        
print(lst_courses)

['web development', 'data science', 'web development', 'data science', 'web development', 'data science', 'web development', 'data science', 'data science', 'web development', 'data science', 'data science', 'web development', 'web development']

In [17]:
##SUB FOR LOOP
pet_age = []
for i in range(0, 14):
    listopets = students[i]["pets"]
    if len(listopets) > 0:
     for pet in listopets:
        pet_age.append(pet['age'])
        
print(pet_age)

[8, 0, 4, 4, 6, 7, 5, 10, 10, 8, 0, 0, 8, 8, 5, 10, 4, 6]

In [19]:
##SUB FOR LOOP
web_dev_students = []
for i in range(0, 14):
    a = students[i]["course"]
    if a == "web development":
        web_dev_students.append(a)
print(web_dev_students)

['web development', 'web development', 'web development', 'web development', 'web development', 'web development', 'web development']

In [133]:
###What is the average age pet for data science students? 
data_science_students = []
for i in range(0, 14):
    a = students[i]["course"]
    if a == "data science":
        data_science_students.append(students[i])

data_science_students

pets = []
for student in data_science_students: 
    for pet in student['pets']:
        pets.append(pet)
pets

ages = []
for pet in pets:
    ages.append(pet['age'])
ages

avgage_pet = sum(ages)/len(ages)
print(avgage_pet)

5.444444444444445

In [55]:
[s for s in students]

[{'id': '100001',
  'student': 'Ada Lovelace',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 91, 82, 71],
  'pets': [{'species': 'horse', 'age': 8}]},
 {'id': '100002',
  'student': 'Thomas Bayes',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [75, 73, 86, 100],
  'pets': []},
 {'id': '100003',
  'student': 'Marie Curie',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [70, 89, 69, 65],
  'pets': [{'species': 'cat', 'age': 0}]},
 {'id': '100004',
  'student': 'Grace Hopper',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [73, 66, 83, 92],
  'pets': [{'species': 'dog', 'age': 4}, {'species': 'cat', 'age': 4}]},
 {'id': '100005',
  'student': 'Alan Turing',
  'coffee_preference': 'dark',
  'course': 'web development',
  'grades': [78, 98, 85, 65],
  'pets': [{'species': 'horse', 'age': 6},
   {'species': 'horse', 'age': 7},
   {'species': 'dog', 'age': 5}]},
 {'id': '100006',
  'student': 'Rosalind Franklin',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [76, 70, 96, 81],
  'pets': []},
 {'id': '100007',
  'student': 'Elizabeth Blackwell',
  'coffee_preference': 'dark',
  'course': 'web development',
  'grades': [69, 94, 89, 86],
  'pets': [{'species': 'cat', 'age': 10}]},
 {'id': '100008',
  'student': 'Rene Descartes',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [87, 79, 90, 99],
  'pets': [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}]},
 {'id': '100009',
  'student': 'Ahmed Zewail',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [74, 99, 93, 89],
  'pets': [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}]},
 {'id': '100010',
  'student': 'Chien-Shiung Wu',
  'coffee_preference': 'medium',
  'course': 'web development',
  'grades': [82, 92, 91, 65],
  'pets': [{'species': 'cat', 'age': 8}]},
 {'id': '100011',
  'student': 'William Sanford Nye',
  'coffee_preference': 'dark',
  'course': 'data science',
  'grades': [70, 92, 65, 99],
  'pets': [{'species': 'cat', 'age': 8}, {'species': 'cat', 'age': 5}]},
 {'id': '100012',
  'student': 'Carl Sagan',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [100, 86, 91, 87],
  'pets': [{'species': 'cat', 'age': 10}]},
 {'id': '100013',
  'student': 'Jane Goodall',
  'coffee_preference': 'light',
  'course': 'web development',
  'grades': [80, 70, 68, 98],
  'pets': [{'species': 'horse', 'age': 4}]},
 {'id': '100014',
  'student': 'Richard Feynman',
  'coffee_preference': 'medium',
  'course': 'web development',
  'grades': [73, 99, 86, 98],
  'pets': [{'species': 'dog', 'age': 6}]}]

In [94]:
[s['grades']  for s in students]

[[70, 91, 82, 71],
 [75, 73, 86, 100],
 [70, 89, 69, 65],
 [73, 66, 83, 92],
 [78, 98, 85, 65],
 [76, 70, 96, 81],
 [69, 94, 89, 86],
 [87, 79, 90, 99],
 [74, 99, 93, 89],
 [82, 92, 91, 65],
 [70, 92, 65, 99],
 [100, 86, 91, 87],
 [80, 70, 68, 98],
 [73, 99, 86, 98]]

In [138]:
#What is the average number of pets for students in web development?
#num_of_pets, lst_courses 
web_develop_students = []
for i in range(0, 14):
    a = students[i]["course"]
    if a == "web development":
        web_develop_students.append(students[i])

web_develop_students

pets = []
for student in web_develop_students: 
    for pet in student['pets']:
        pets.append(pet)
pets

num_pets = []
for pet in pets:
    num_pets.append(len(pet))

num_pets

avg_num_pets_web_dev_stu = sum(num_pets)/len(num_pets)

avg_num_pets_web_dev_stu
###WRONGGGGGGGGGGGG

2.0

In [32]:
##SUB FOR LOOP 

data_science_grades = []
for student in students:
    if student['course'] == "data science":
     data_science_grades.append(student['grades'])
    
print(data_science_grades)

[[75, 73, 86, 100], [73, 66, 83, 92], [76, 70, 96, 81], [87, 79, 90, 99], [74, 99, 93, 89], [70, 92, 65, 99], [100, 86, 91, 87]]

In [12]:
#What is the pet age? 
pet_age = []
for i in range(0, 14):
    a = students[i]["pets"]
    if len(a) > 0:
     for pet in a:
        pet_age.append(pet['age'])
print(pet_age)

[8, 0, 4, 4, 6, 7, 5, 10, 10, 8, 0, 0, 8, 8, 5, 10, 4, 6]

In [47]:
##SUB FOR LOOP 
students_coffee_preference = []
for i in range(0, 14):
    listofblends = students[i]["coffee_preference"]
    students_coffee_preference.append(listofblends)
print(students_coffee_preference)

['light', 'medium', 'light', 'dark', 'dark', 'dark', 'dark', 'medium', 'medium', 'medium', 'dark', 'medium', 'light', 'medium']

In [146]:
#What is most frequent coffee preference for data science students?
data_science_students = []
for i in range(0, 14):
    a = students[i]["course"]
    if a == "data science":
        data_science_students.append(students[i])

data_science_students

ds_coffee_preference = []

for student in data_science_students: 
    preference = student["coffee_preference"]
    ds_coffee_preference.append(preference)
    
ds_coffee_preference

#if you are looping through a string 
max(ds_coffee_preference)

'medium'

In [147]:
#What is the least frequent coffee preference for web development students?
web_develop_students = []
for i in range(0, 14):
    a = students[i]["course"]
    if a == "web development":
        web_develop_students.append(students[i])

web_develop_students

ds_coffee_preference2 = []

for student in web_develop_students: 
    preference = student["coffee_preference"]
    ds_coffee_preference2.append(preference)
    
ds_coffee_preference2

#if you are looping through a string 
min(ds_coffee_preference2)

'dark'

In [162]:
##SUB For LOOP 
student_avg_grade = []
for i in range(0, 14): 
    a = students[i]["grades"]
    avg = sum(a)/len(a)
    student_avg_grade.append(avg)
    
student_avg_grade

[78.5,
 83.5,
 73.25,
 78.5,
 81.5,
 80.75,
 84.5,
 88.75,
 88.75,
 82.5,
 81.5,
 91.0,
 79.0,
 89.0]

In [161]:
#What is the average grade for students with at least 2 pets?
students_with_pets = []

for i in range(0, 14):
    a = students[i]["pets"]
    students_with_pets.append(students[i])
    
###get review on this one

In [56]:
#How many students have 3 pets?
three_pets = []
for student in students: 
    for pet in student["pets"]:
        if len("pets") == 3:
            three_pets.append(student)
            
three_pets


##one student

Zero students have three pets

In [54]:
#What is the average grade for students with 0 pets?
zero_pets = []
for i in range(0, 14):
    r = students[i]["pets"]
    if len(r) == 0:
     zero_pets.append(students[i])

zero_pets

zero_pet_average_grade = []

for student in zero_pets: 
    a = student["grades"]
    avg3 = sum(a)/len(a)
    zero_pet_average_grade.append(avg3)
    
zero_pet_average_grade

avg_zero_pet_grade = sum(zero_pet_average_grade)/ len(zero_pet_average_grade)

avg_zero_pet_grade

82.125

In [33]:
#What is the average grade for data science students? 
data_science_students = []
for i in range(0, 14):
    a = students[i]["course"]
    if a == "data science":
        data_science_students.append(students[i])

data_science_students

ds_average_grade = []

for student in data_science_students: 
    a = student["grades"]
    avg = sum(a)/len(a)
    ds_average_grade.append(avg)
    
ds_average_grade

[83.5, 78.5, 80.75, 88.75, 88.75, 81.5, 91.0]

In [34]:
What is the average grade for web development students?
web_develop_students = []
for i in range(0, 14):
    a = students[i]["course"]
    if a == "web development":
        web_develop_students.append(students[i])

web_develop_students

web_dev_avg_grade = []

for student in web_develop_students: 
    a = student["grades"]
    avg = sum(a)/len(a)
    web_dev_avg_grade.append(avg)
    
web_dev_avg_grade

[78.5, 73.25, 81.5, 84.5, 82.5, 79.0, 89.0]

In [57]:
#What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?
#dark coffee drinkers 
dark_coffee_drinkers = []
for i in students: 
    c = students[i]["coffee_preference"]
    if c == "dark":
     dark_coffee_drinkers.append(students[i])

dark_coffee_drinkers

dark_coffee_grades = []

for student in dark_coffee_drinkers: 
    dcg = student["grades"]
    dark_coffee_grades.append(dcg)

dark_coffee_grades

dcgr = []
for grades in dark_coffee_grades: 
    dc_grade_range = max(grades)- min(grades)
    dcgr.append(dc_grade_range)
    
dcgr

##i am getting grade range for only one student

TypeError: list indices must be integers or slices, not dict

In [29]:
medium_coffee_drinkers = []
for i in range(0, 14): 
    c = students[i]["coffee_preference"]
    if c == "medium":
     medium_coffee_drinkers.append(students[i])

medium_coffee_drinkers

[{'id': '100002',
  'student': 'Thomas Bayes',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [75, 73, 86, 100],
  'pets': []},
 {'id': '100008',
  'student': 'Rene Descartes',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [87, 79, 90, 99],
  'pets': [{'species': 'cat', 'age': 10}, {'species': 'cat', 'age': 8}]},
 {'id': '100009',
  'student': 'Ahmed Zewail',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [74, 99, 93, 89],
  'pets': [{'species': 'cat', 'age': 0}, {'species': 'cat', 'age': 0}]},
 {'id': '100010',
  'student': 'Chien-Shiung Wu',
  'coffee_preference': 'medium',
  'course': 'web development',
  'grades': [82, 92, 91, 65],
  'pets': [{'species': 'cat', 'age': 8}]},
 {'id': '100012',
  'student': 'Carl Sagan',
  'coffee_preference': 'medium',
  'course': 'data science',
  'grades': [100, 86, 91, 87],
  'pets': [{'species': 'cat', 'age': 10}]},
 {'id': '100014',
  'student': 'Richard Feynman',
  'coffee_preference': 'medium',
  'course': 'web development',
  'grades': [73, 99, 86, 98],
  'pets': [{'species': 'dog', 'age': 6}]}]

In [65]:
#What is the average number of pets for medium coffee drinkers?

medium_coffee_drinkers = []
for i in range(0, 14): 
    c = students[i]["coffee_preference"]
    if c == "medium":
        medium_coffee_drinkers.append(students[i])

medium_coffee_drinkers


pets1 = []
for student in medium_coffee_drinkers: 
    for pet in student['pets']:
        pets1.append(pet)


pets1


###the issue with this code is that it prints out seven pets but doesn't assign it per 
###person so I am not sure what to do

[{'species': 'cat', 'age': 10},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 0},
 {'species': 'cat', 'age': 0},
 {'species': 'cat', 'age': 8},
 {'species': 'cat', 'age': 10},
 {'species': 'dog', 'age': 6}]

In [ ]:
#What is the most common type of pet for web development students?

In [15]:
#What is the average name length?

avg_name_length = []
for i in range(0,14):
    v = students[i]['student']
    v = v.strip()
    v = count(v)

In [ ]:
#What is the highest pet age for light coffee drinkers?