In [24]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [25]:
#How many students are there?
counter = 0 
for student in students:
    counter += 1
print("Number of students:", counter)

Number of students: 14

In [26]:
#How many students are there?
len(students)

14

In [44]:
#How mamy types of coffee are there? 

for i in range(0, 14):
    listofblends = students[i]["coffee_preference"]
    print(listofblends)
  ###I want to be able to print the set of this list but keep coming up with an error

light
medium
light
dark
dark
dark
dark
medium
medium
medium
dark
medium
light
medium

In [28]:
#How many students prefer light coffee? For each type of coffee roast?
counter = 0 
for i in range(0, 14): 
    a = students[i]["coffee_preference"]
    if a == 'light':
        counter += 1
print(counter)

3

In [29]:
#How many students prefer dark coffee?
counter = 0 
for i in range(0, 14): 
    a = students[i]["coffee_preference"]
    if a == 'dark':
        counter += 1
print(counter)

5

In [30]:
#How many students prefer medium coffee? 
counter = 0 
for i in range(0, 14): 
    a = students[i]["coffee_preference"]
    if a == 'medium':
        counter += 1
print(counter)

6

In [31]:
#How many types of each pet are there?
pets = []
for i in range(0, 14):
    listofpets = students[i]["pets"]
    if len(listofpets) > 0:
     for pet in listofpets:
        pets.append(pet['species'])
        
print(set(pets))

{'horse', 'cat', 'dog'}

In [32]:
#How many grades does each student have? Do they all have the same number of grades?
print("List of classes per student")
for i in range(0, 14):
    lst_grades = students[i]["grades"]
    print(len(lst_grades))
print("Each student has 4 classes")
print(len(set(lst_grades)))

List of classes per student
4
4
4
4
4
4
4
4
4
4
4
4
4
4
Each student has 4 classes
4

In [33]:
#Each student's grade average 

for i in range(0, 14): 
    a = students[i]["grades"]
    avg = sum(a)/len(a)
    print(avg)

78.5
83.5
73.25
78.5
81.5
80.75
84.5
88.75
88.75
82.5
81.5
91.0
79.0
89.0

In [34]:
#How many pets does each student have?
num_of_pets = []
for i in range(0, 14): 
    a = len(students[i]["pets"])
    num_of_pets.append(a)
    print(a)

1
0
1
2
3
0
1
2
2
1
2
1
1
1

In [35]:
#How many students are in web development? 
number_stud_in_webdev = 0 
for i in range(0, 14):
    a = students[i]["course"]
    if a == "web development":
     number_stud_in_webdev += 1 
print(number_stud_in_webdev)

7

In [36]:
#How many students are in data science?
counter = 0 
for i in range(0, 14):
    a=students[i]["course"]
    if a == "data science":
     counter += 1 
print(counter)

7

In [37]:
lst_courses = []
for i in range(0, 14):
    a = students[i]["course"]
    lst_courses.append(a)
        
print(lst_courses)

['web development', 'data science', 'web development', 'data science', 'web development', 'data science', 'web development', 'data science', 'data science', 'web development', 'data science', 'data science', 'web development', 'web development']

In [38]:
pet_age = []
for i in range(0, 14):
    listopets = students[i]["pets"]
    if len(listopets) > 0:
     for pet in listopets:
        pet_age.append(pet['age'])
        
print(pet_age)

[8, 0, 4, 4, 6, 7, 5, 10, 10, 8, 0, 0, 8, 8, 5, 10, 4, 6]

In [39]:
#What is the average pet age for students in data science?
avg_pet_data_science_dict = dict(zip(lst_courses, pet_age))
print(avg_pet_data_science_dict)
### I would like to be able to create a list of dictionaries from the two above lists with lst_courses being the key 
### and pet_age being the value so that I can see the students by course type with the age of their pets. My plan from 
### here is to sort out non data science course students, then add the values, and divide by number ds students

{'web development': 8, 'data science': 0}

In [119]:
web_dev_students = []
for i in range(0, 14):
    a = students[i]["course"]
    if a == "web development":
        web_dev_students.append(a)
print(web_dev_students)

['web development', 'web development', 'web development', 'web development', 'web development', 'web development', 'web development']

In [10]:
data_science_students = []
for i in range(0, 14):
    a = students[i]["course"]
    if a == "data science":
        data_science_students.append(a)
print(data_science_students)

['data science', 'data science', 'data science', 'data science', 'data science', 'data science', 'data science']

In [11]:
#What is the average number of pets for students in web development?
#num_of_pets, lst_courses

NameError: name 'web_dev_students' is not defined

In [12]:
#What is the pet age? 
pet_age = []
for i in range(0, 14):
    a = students[i]["pets"]
    if len(a) > 0:
     for pet in a:
        pet_age.append(pet['age'])
print(pet_age)

[8, 0, 4, 4, 6, 7, 5, 10, 10, 8, 0, 0, 8, 8, 5, 10, 4, 6]

In [47]:
students_coffee_preference = []
for i in range(0, 14):
    listofblends = students[i]["coffee_preference"]
    students_coffee_preference.append(listofblends)
print(students_coffee_preference)

['light', 'medium', 'light', 'dark', 'dark', 'dark', 'dark', 'medium', 'medium', 'medium', 'dark', 'medium', 'light', 'medium']

In [48]:
#What is most frequent coffee preference for data science students?
print(lst_courses), print(data_science_students), print(students_coffee_preference)
###this obviously needs to be completed but I dont know

['web development', 'data science', 'web development', 'data science', 'web development', 'data science', 'web development', 'data science', 'data science', 'web development', 'data science', 'data science', 'web development', 'web development']
['data science', 'data science', 'data science', 'data science', 'data science', 'data science', 'data science']
['light', 'medium', 'light', 'dark', 'dark', 'dark', 'dark', 'medium', 'medium', 'medium', 'dark', 'medium', 'light', 'medium']

(None, None, None)

In [ ]:
#What is the least frequent coffee preference for web development students?
print(students_coffee_preference), lst_courses, web_dev_students

In [49]:
student_avg_grade = []
for i in range(0, 14): 
    a = students[i]["grades"]
    avg = sum(a)/len(a)
    student_avg_grade.append(avg)
    print(student_avg_grade)
###Can't figure out what happened here

[78.5]
[78.5, 83.5]
[78.5, 83.5, 73.25]
[78.5, 83.5, 73.25, 78.5]
[78.5, 83.5, 73.25, 78.5, 81.5]
[78.5, 83.5, 73.25, 78.5, 81.5, 80.75]
[78.5, 83.5, 73.25, 78.5, 81.5, 80.75, 84.5]
[78.5, 83.5, 73.25, 78.5, 81.5, 80.75, 84.5, 88.75]
[78.5, 83.5, 73.25, 78.5, 81.5, 80.75, 84.5, 88.75, 88.75]
[78.5, 83.5, 73.25, 78.5, 81.5, 80.75, 84.5, 88.75, 88.75, 82.5]
[78.5, 83.5, 73.25, 78.5, 81.5, 80.75, 84.5, 88.75, 88.75, 82.5, 81.5]
[78.5, 83.5, 73.25, 78.5, 81.5, 80.75, 84.5, 88.75, 88.75, 82.5, 81.5, 91.0]
[78.5, 83.5, 73.25, 78.5, 81.5, 80.75, 84.5, 88.75, 88.75, 82.5, 81.5, 91.0, 79.0]
[78.5, 83.5, 73.25, 78.5, 81.5, 80.75, 84.5, 88.75, 88.75, 82.5, 81.5, 91.0, 79.0, 89.0]

In [ ]:
#What is the average grade for students with at least 2 pets?
num_of_pets, 
### hopefully once the code above me is fixed it can go right right here

In [23]:
#How many students have 3 pets?
counter = 
For student in students;
 for pet in pets:
        if num_of_pets = 3
print

TypeError: list indices must be integers or slices, not str

In [19]:
#What is the average grade for students with 0 pets?

In [ ]:
#What is the average grade for web development students? data science students?

In [ ]:
#What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?

In [ ]:
#What is the average number of pets for medium coffee drinkers?

In [ ]:
#What is the most common type of pet for web development students?

In [15]:
#What is the average name length?

In [ ]:
#What is the highest pet age for light coffee drinkers?