In [1]:
import functions_exercises

In [2]:
import itertools

1. Import and test 3 of the functions from your functions exercise file. Import each function in a different way:

In [3]:
functions_exercises.remove_vowels("harrison")

'hrrsn'

In [4]:
functions_exercises.get_letter_grade(62)

'D'

In [5]:
functions_exercises.calculate_tip( .18, 100)

18.0

How many different ways can you combine the letters from "abc" with the numbers 1, 2, and 3?

In [6]:
list(itertools.product('abc', '123'))

[('a', '1'),
 ('a', '2'),
 ('a', '3'),
 ('b', '1'),
 ('b', '2'),
 ('b', '3'),
 ('c', '1'),
 ('c', '2'),
 ('c', '3')]

How many different combinations are there of 2 letters from "abcd"?

In [7]:
list(itertools.combinations('abcd', 2))

[('a', 'b'), ('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd'), ('c', 'd')]

How many different permutations are there of 2 letters from "abcd"?

In [8]:
list(itertools.permutations('abcd', 2))

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('b', 'a'),
 ('b', 'c'),
 ('b', 'd'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'd'),
 ('d', 'a'),
 ('d', 'b'),
 ('d', 'c')]

In [9]:
import json

In [10]:
profiles = json.load(open('profiles.json'))

In [11]:
profiles[:2]

[{'_id': '54e23c3e46ab53a440b580e8',
  'index': 0,
  'guid': '9962b468-ef3e-4993-b677-617469bc3008',
  'isActive': False,
  'balance': '$2,097.02',
  'picture': 'http://placehold.it/32x32',
  'age': 39,
  'eyeColor': 'blue',
  'name': 'Hebert Estes',
  'gender': 'male',
  'company': 'ANDRYX',
  'email': 'hebertestes@andryx.com',
  'phone': '+1 (866) 456-2268',
  'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
  'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
  'registered': '2014-11-10T01:44:03 +06:00',
  'latitude': -80.157843,
  'longitude': 161.93016,
  'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
  'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
   {'id': 1, 'name': 'Dennis Wilson'},
   {'id': 2, 'name': 'Lupe Howe'}],
  'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
  'favoriteFruit': 'strawberry'},
 {'_id': '54e23c3ef5cc0d250968c212',
  'index': 1,
  'guid': '905f849d-49bf-4a57-b4f3-5d6e4bf1b04c',
  'isActive': False,
  'balance': '$3,654.02',
  'picture': 'http://placehold.it/32x32',
  'age': 30,
  'eyeColor': 'green',
  'name': 'Allison Wynn',
  'gender': 'male',
  'company': 'PHARMACON',
  'email': 'allisonwynn@pharmacon.com',
  'phone': '+1 (926) 525-3131',
  'address': '724 Brevoort Place, Lodoga, Indiana, 3880',
  'about': 'Esse quis cillum sunt occaecat ad et eu incididunt aliquip dolor. Adipisicing labore magna anim cillum nisi. Elit mollit consequat velit nulla cillum excepteur elit ullamco deserunt. Anim aliquip Lorem excepteur ad veniam et labore in qui ullamco. Occaecat sit do incididunt voluptate id magna ea amet.\r\n',
  'registered': '2014-06-10T13:41:26 +05:00',
  'latitude': 55.737207,
  'longitude': -167.177561,
  'tags': ['enim',
   'officia',
   'laboris',
   'irure',
   'veniam',
   'occaecat',
   'pariatur'],
  'friends': [{'id': 0, 'name': 'Curry Cox'},
   {'id': 1, 'name': 'Alma Dale'},
   {'id': 2, 'name': 'Barbara Mayo'}],
  'greeting': 'Hello, Allison Wynn! You have 19 unread messages.',
  'favoriteFruit': 'apple'}]

Total number of users:

In [12]:
total_number_users = len(profiles)
print(total_number_users)

19

Total number of active users:

In [13]:
counter = 0 
for i in range(0, 19):
    active = profiles[i]["isActive"]
    if active == True:
        counter += 1
print(counter)

9

Total number of inactive users:

In [14]:
counter = 0 
for i in range(0, 19):
    active = profiles[i]["isActive"]
    if active == False:
        counter += 1
print(counter)

10

Grand total of balances for all users:

In [46]:
total_balance = []
for i in range(0, 19):
    r = profiles[i]["balance"]
    total_balance.append(r)
    
print(total_balance)

total_balance_float = []
for balance in total_balance:
    c = balance.replace('$','').replace(',','')
    total_balance_float.append(c)

print(total_balance_float)

floats = [float(b) for b in total_balance_float]

sum(floats)

['$2,097.02', '$3,654.02', '$1,536.02', '$3,919.64', '$3,681.39', '$1,694.42', '$1,214.10', '$2,930.31', '$1,944.15', '$2,839.22', '$2,467.31', '$3,304.99', '$3,844.42', '$3,594.99', '$2,940.24', '$3,062.41', '$3,067.82', '$2,646.76', '$2,227.79']
['2097.02', '3654.02', '1536.02', '3919.64', '3681.39', '1694.42', '1214.10', '2930.31', '1944.15', '2839.22', '2467.31', '3304.99', '3844.42', '3594.99', '2940.24', '3062.41', '3067.82', '2646.76', '2227.79']

TypeError: 'float' object is not callable

Average balance per user:

TypeError: 'float' object is not iterable

User with the lowest balance:

In [41]:
min(floats)

1214.1

User with the highest balance:

In [42]:
max(floats)

3919.64

Most common favorite fruit: